@model IEnumerable<Swap.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card mr-5 mb-5" style="width: 18rem;">
            <h2> @Html.DisplayFor(modelItem => item.User.FirstName)</h2>
            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Img)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Category)</h5>
                <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
        }
    </div>

